{% extends "base.jinja2" %}
{% block title %}All Links{% endblock %}

{% block content %}
    <ul>
    {% for url, endpoint in links %}
        <li><a href="{{ url }}">{{ endpoint }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
